<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='pitk-logo.svg') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            PRICE IS THE KING
        </a>

        <div class="d-flex align-items-center">
            <div id="refresh-timer" class="text-white me-3"></div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#conditionsModal">Conditions</button>
                </li>
                <li class="nav-item">
                    <button id="settings-btn" class="btn btn-info me-2"><i class="fas fa-cog"></i></button>
                </li>
                <li class="nav-item">
                    <button id="refresh-btn" class="btn btn-success me-2"><i class="fas fa-sync-alt"></i></button>
                </li>
                <li class="nav-item">
                    <button id="toggle-columns-btn" class="btn btn-secondary me-2"><i class="fas fa-eye"></i></button>
                </li>
                <li class="nav-item">
                    <button id="filter-btn" class="btn btn-primary me-2"><i class="fas fa-filter"></i></button>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('dash') }}" class="btn btn-primary me-2 btn-dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary btn-logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 